
/* styles and modifications made to Bootstrap */

/* primary orange
color: #FF994D;
*/

/* whitesmoke
color: #F5F5F5;
*/

/* ocean blue
color: #3A99B2;
*/

/* gray for info links
color: #818a91;
*/


/* my own utility classes */


/* UW represent! */
.text-purple {
  color: #4b2e83;
}

.text-gold {
  color: #85754d;
}


.p-y-xs {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

.p-t-xs {
  padding-top: 0.7rem !important;
}

.p-b-xxs {
  padding-bottom: 0.2rem !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.popover {
  background-color: #5bc0de;
  border-color: #fff;
  color: #fff;
}


.text-orange {
	/* primary orange */
	color: #FF994D;
}

.info-color {
  color: #5bc0de;
}

.background-smoke {
  background-color: #F5F5F5;
}
.text-blue {
  /* primary blue */
  color: #3A99B2;
}

a {
	color: #818a91;
}

a:hover{
	color: #3A99B2;
}


.form-control {
  background-color: #fff;
}

.form-control:focus {
  border-color: #FFD7AB;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3A99B2;
  border-color: #3A99B2;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}


/* Change the color of the primary button to an ocean blue 4decff */
.btn-primary-outline {
  color: #FF994D;
  background-color: transparent;
  background-image: none;
  border-color: #FF994D;
}

.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary-outline:hover {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}