
/* styles and modifications made to Bootstrap */

/* primary orange
color: #FF994D;
*/

/* whitesmoke
color: #F5F5F5;
*/

/* ocean blue
color: #3A99B2;
*/


.top-row {
  margin: 2em 0 0 0;
}

a {
	/* primary orange*/
	color: #FF994D;
}

a:hover{
	color: #3A99B2;
}


.form-control {
  background-color: #F5F5F5;
}

.form-control:focus {
  border-color: #FFD7AB;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3A99B2;
  border-color: #3A99B2;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}


/* Change the color of the primary button to an ocean blue 4decff */
.btn-primary-outline {
  color: #FF994D;
  background-color: transparent;
  background-image: none;
  border-color: #FF994D;
}

.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary-outline:hover {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}