html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin-bottom: 5rem;
}

a {
  color: #818a91;
}

a:hover {
  color: #3A99B2;
}

a:active {
  color: #F5F5F5;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

.width-full {
  width: 100vw;
  max-width: 100vw;
}

.no-border, .popover-title {
  border: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.brand {
  font-size: 1rem;
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-orange {
  color: #FF994D;
}

.text-blue {
  color: #3A99B2;
}

.background-smoke {
  background-color: #F5F5F5;
}

.inline-block {
  display: inline-block;
}

.m-l-xs {
  margin-left: 0.7rem !important;
}

.p-y-xs {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
}

.p-t-xs {
  padding-top: 0.7rem !important;
}

.p-b-xxs {
  padding-bottom: 0.2rem !important;
}

.popover {
  background-color: #5bc0de;
  border-color: #fff;
  color: #fff;
}

.popover-title {
  padding: 0;
}

.popover-content {
  padding: 9px 14px 0 9px;
}

.popover.popover-right .popover-arrow:after,
.popover.bs-tether-element-attached-left .popover-arrow:after {
  bottom: -10px;
  left: 1px;
  content: "";
  border-right-color: #5bc0de;
  border-left-width: 0;
}

.popover.popover-left .popover-arrow:after,
.popover.bs-tether-element-attached-right .popover-arrow:after {
  right: 1px;
  bottom: -10px;
  content: "";
  border-right-width: 0;
  border-left-color: #5bc0de;
}

.form-control {
  background-color: #fff;
}

.form-control:focus {
  border-color: #FFD7AB;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary:hover {
  color: #fff;
  background-color: #3A99B2;
  border-color: #3A99B2;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

/* Change the color of the primary button to an ocean blue 4decff */
.btn-primary-outline {
  color: #FF994D;
  background-color: transparent;
  background-image: none;
  border-color: #FF994D;
}

.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}

.btn-primary-outline:hover {
  color: #fff;
  background-color: #FF994D;
  border-color: #FF994D;
}
