// Variables

// primary blue color
$primary-blue: #3A99B2;

$primary-orange: #FF994D;

$ocean-blue: #5bc0de;

$link-gray: #818a91;

$white: #fff;

$smoke: #F5F5F5;

$full-vw: 100vw;

$xs: 0.7rem;

$xxs: 0.2rem;

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin-bottom: 5rem;
}

a {
  color: $link-gray;
}

a:hover{
  color: $primary-blue;
}

a:active {
  color: $smoke;
}


@media (max-width: 600px) {
  html {
  	font-size: 12px;
  }
}

@media (max-width: 48em) {
  #main-logo {
  	padding-left: 20%;
  }
}

.width-full {
  width: $full-vw;
  max-width: $full-vw;
}

.no-border {
  border: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.brand {
  font-size: 1rem;
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-orange {
  color: $primary-orange
}

.text-blue {
  color: $primary-blue;
}

.background-smoke {
  background-color: $smoke;
}

.inline-block {
  display: inline-block;
}

.m-l-xs {
  margin-left: $xs !important;
}

.p-y-xs {
  padding-top: $xs !important;
  padding-bottom: $xs !important;
}

.p-t-xs {
  padding-top: $xs !important;
}

.p-b-xxs {
  padding-bottom: $xxs !important;
}

//popover classes that I modified for the project
.popover {
  background-color: $ocean-blue;
  border-color: $white;
  color: $white;
}

.popover-title {
  @extend .no-border;
  padding: 0;
}

.popover-content {
  padding: 9px 14px 0 9px;
}

.popover.popover-right .popover-arrow:after,
.popover.bs-tether-element-attached-left .popover-arrow:after {
  bottom: -10px;
  left: 1px;
  content: "";
  border-right-color: $ocean-blue;
  border-left-width: 0;
}

.popover.popover-left .popover-arrow:after,
.popover.bs-tether-element-attached-right .popover-arrow:after {
  right: 1px;
  bottom: -10px;
  content: "";
  border-right-width: 0;
  border-left-color: $ocean-blue;
}

.form-control {
  background-color: $white;
}

.form-control:focus {
  border-color: #FFD7AB;
  outline: none;
}


@mixin btn-colors($text-color, $bg-color) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $bg-color;
}


.btn-primary {
  @include btn-colors($white, $primary-orange);
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  @include btn-colors($white, $primary-orange);
}

.btn-primary:hover {
  @include btn-colors($white, $primary-blue);
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}


/* Change the color of the primary button to an ocean blue 4decff */
.btn-primary-outline {
  color: $primary-orange;
  background-color: transparent;
  background-image: none;
  border-color: $primary-orange;
}

.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active,
.open > .btn-primary-outline.dropdown-toggle {
  @include btn-colors($white, $primary-orange);
}

.btn-primary-outline:hover {
  @include btn-colors($white, $primary-orange);
}
